# Copyright (C) 2024 Roberto Rossini <roberros@uio.no>
#
# SPDX-License-Identifier: GPL-3.0
#
# This library is free software: you can redistribute it and/or
# modify it under the terms of the GNU Public License as published
# by the Free Software Foundation; either version 3 of the License,
# or (at your option) any later version.
#
# This library is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Library General Public License for more details.
#
# You should have received a copy of the GNU Public License along
# with this library.  If not, see
# <https://www.gnu.org/licenses/>.

name: Cache test datasets

on:
  workflow_call:
    outputs:
      cache-key:
        description: "Test dataset cache key"
        value: ${{ jobs.cache-test-datasets.outputs.cache-key }}

defaults:
  run:
    shell: bash

env:
  FETCH_TEST_DATASET_CMAKE: cmake/FetchTestDataset.cmake
  TEST_DATASET_PATH: test/data/nchg_test_data.tar.zst

jobs:
  cache-test-datasets:
    name: Cache test datasets
    runs-on: ubuntu-latest

    outputs:
      cache-key: ${{ steps.generate-cache-key.outputs.key }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Generate cache key
        id: generate-cache-key
        run: |
          key="test-dataset-${{ hashFiles( 'cmake/FetchTestDataset.cmake' ) }}"

          echo "key=$key" | tee -a "$GITHUB_OUTPUT"

      - name: Restore cache
        id: cache-dset
        uses: actions/cache/restore@v5
        with:
          key: ${{ steps.generate-cache-key.outputs.key }}
          path: ${{ env.TEST_DATASET_PATH }}
          lookup-only: true

      - name: Extract test dataset URL and checksum
        if: steps.cache-dset.outputs.cache-hit != 'true'
        id: test-dataset
        run: |
          url="$(grep -F 'DOWNLOAD' "$FETCH_TEST_DATASET_CMAKE" | sed 's/.*DOWNLOAD[[:space:]]\+//')"
          checksum="$(grep -F 'EXPECTED_HASH' "$FETCH_TEST_DATASET_CMAKE" | sed 's/.*SHA256=//')"

          echo "url=$url" | tee -a "$GITHUB_OUTPUT"
          echo "checksum=$checksum" | tee -a "$GITHUB_OUTPUT"

      - name: Download test dataset
        if: steps.cache-dset.outputs.cache-hit != 'true'
        run: |
          src="${{ steps.test-dataset.outputs.url }}"
          dest="$TEST_DATASET_PATH"

          mkdir -p "$(dirname "$dest")"
          curl -L "$src" -o "$dest"

      - name: Checksum test dataset
        if: steps.cache-dset.outputs.cache-hit != 'true'
        run: |
          echo "${{ steps.test-dataset.outputs.checksum }}  $TEST_DATASET_PATH" | tee checksum.sha256
          shasum -c checksum.sha256

      - name: Save cache
        uses: actions/cache/save@v5
        if: steps.cache-dset.outputs.cache-hit != 'true'
        with:
          key: ${{ steps.generate-cache-key.outputs.key }}
          path: ${{ env.TEST_DATASET_PATH }}
